*{
    padding: 0;
    margin: 0;
}
.sec-one{
    margin-top: 5.09rem;
    background: url('../Pics/background.jpg');
    background-size: cover;
    background-position: center;
    padding: 8.5rem 0rem;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    column-gap: 13.5rem;

}
.sec-one-txt{
    font-size: 1.675rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;   
}
.sec-button{
    grid-template-columns: 12.9rem  1.875rem  1.875rem  1.875rem 1.875rem ;
    display: grid; 
    column-gap: .925rem;
    margin-top: 4rem;
}
.sec-button img{
    width: 100%;
}
.sec-button-txt{
    padding: 1.09375rem  0.25rem;
    font-size: 1.15rem;
    font-weight: bolder;
    color: white;
    background-color:rgb(253, 86, 42);
    border: none;
    border-radius: .3125rem;
    margin-right: .9375rem;
    margin-top: -0.7125rem;
}
.sec-button-txt:hover{
    opacity: .5;
    background-color:rgb(191, 41, 2);
    cursor: pointer;
    transition: 1s ;
}
.sec-txt-heading{
    font-size: 4.4375rem;
    font-weight: bolder;
    color: rgb(253, 86, 42);
    font-family: Arial, Helvetica, sans-serif;
}
.simple-txt{
    font-size: 1.3875rem;
    font-weight: 500;
    color: white;
}
.sec-img{
    width: 25rem;
}
.sec-img img{
    width: 100%;
    border-radius: .625rem;
}
@media(max-width:600px){
    *{
        padding: 0;
        margin: 0;
    }
    .sec-one{
        display: flex;
        flex-direction: column-reverse;

    }

}
